{% extends "pt_br/layout_pt_br.html" %}
{% block content_pt_br %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Página inicial</a></li>
  </ol>
</nav>
<div class="row">
  <div class="col-12">
    <article class="content-section d-flex align-items-center">
      <div class="flex-grow-1 ms-3 mx-4">
        <h2 class="mt-2">O que é BLAST?</h2>
        <p class="article-content">
          O Basic Local Alignment Search Tool (BLAST) é um algoritmo para comparar informações de sequências biológicas primárias.
        </p>
        <p class="article-content">
          O programa compara sequências de consultas de nucleotídeos ou aminoácidos de DNA ou RNA a bancos de dados de sequências e aproxima diretamente alinhamentos que otimizam uma medida de similaridade local, a pontuação de par máximo de segmentos (MSP). Permite filtrar a saída, inferir relações funcionais e evolutivas entre sequências, bem como ajudar a identificar membros de famílias de genes. O BLAST também pode ser usado para realizar pesquisas de motivos, pesquisas de identificação de genes, analisar várias regiões de semelhança em sequências de DNA longas, remover regiões de baixa complexidade ou repetições de sequência na sequência de consulta, estender as correspondências exatas para pares de segmentos de alta pontuação (HSP) e avaliar a significância do escore HSP. Em suma, como o The New York Times chamou, é o Google da pesquisa biológica.
        </p>
      </div>
    </article>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <article class="content-section d-flex align-items-center">
      <div class="flex-grow-1 ms-3 mx-4">
        <h2 class="mt-2">Sobre este projeto</h2>
        <p class="article-content">
          O objetivo do projeto é capacitar pesquisadores que trabalham com biologia molecular para ter um acesso mais amigável, flexível e controlável sob a ferramenta NCBI Blast+.
        </p>
        <p class="article-content">
          Este programa é capaz de realizar o alinhamento de sequências de DNA contra um banco de dados contendo os genes acds, acka, esps, gdc,glta,mdh, nifh, phnx, phod, pita, ppc, pqq, psts. Para obter mais detalhes sobre como usar a ferramenta, acesse os <a
            href="{{ url_for('main.tutorials_en') }}">tutoriais</a>.
        </p>
      </div>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <article class="content-section">
      <div class="flex-grow-1 ms-3 mx-4">
        <h2 class="mt-2">O banco de dados</h2>
        <div class="table-responsive home-table">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center col">Gene</th>
                <th class="text-center col">Nº de sequencias</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">acds</td>
                <td class="text-center">516</td>
              </tr>
              <tr>
                <td class="text-center">acka</td>
                <td class="text-center">154</td>
              </tr>
              <tr>
                <td class="text-center">esps</td>
                <td class="text-center">17</td>
              </tr>
              <tr>
                <td class="text-center">gdc</td>
                <td class="text-center">7</td>
              </tr>
              <tr>
                <td class="text-center">glta</td>
                <td class="text-center">3531</td>
              </tr>
              <tr>
                <td class="text-center">mdh</td>
                <td class="text-center">511</td>
              </tr>
              <tr>
                <td class="text-center">nifh</td>
                <td class="text-center">6740</td>
              </tr>
              <tr>
                <td class="text-center">phnx</td>
                <td class="text-center">56</td>
              </tr>
              <tr>
                <td class="text-center">phod</td>
                <td class="text-center">1418</td>
              </tr>
              <tr>
                <td class="text-center">pita</td>
                <td class="text-center">482</td>
              </tr>
              <tr>
                <td class="text-center">ppc</td>
                <td class="text-center">121</td>
              </tr>
              <tr>
                <td class="text-center">pqq</td>
                <td class="text-center">39</td>
              </tr>
              <tr>
                <td class="text-center">psts</td>
                <td class="text-center">738</td>
              </tr>
            </tbody>
          </table>
        </div>
    </article>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <article class="content-section">
      <div class="flex-grow-1 ms-3 mx-4">
        <h2 class="mt-2">Referencias bibliográficas</h2>
      <blockquote class="blockquote">
        <p class="article-content">
          Esse serviço utiliza o <a class="link-dark" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">programa NCBI Blast+.</a>
        </p>
        <footer class="blockquote-footer">Altschul SF, Gish W, Miller W, Myers EW, Lipman DJ. <cite title="NCBI Blast citation">Basic local alignment search tool. J Mol Biol. 1990 Oct 5;215(3):403-10. doi: 10.1016/S0022-2836(05)80360-2. PMID: 2231712.</cite></footer>
      </blockquote>
    </article>
  </div>
</div>
{% endblock content_pt_br %}